<!-- https://scotch.io/tutorials/using-angular-2s-model-driven-forms-with-formgroup-and-formcontrol#initialize-the-form-model -->
<h1> form model sample </h1>
<form [formGroup]="myForm" (ngSubmit)="save(myForm.value, myForm.valid)">
    <div>
        <label>Name</label>
           <input type="text" 
           formControlName="name">
           <small [hidden]="myForm.controls.name.valid || 
           (myForm.controls.name.pristine && !submitted)"> Name is required (minimum 5 characters).</small>

          <div formGroupName="address">
              <label>Street</label>
              <input type="text" formControlName="street">
             <small [hidden]="myForm.controls.address.controls.street.valid || (myForm.controls.address.controls.street.pristine && !submitted)">
                  Street is required
              </small>
          </div>
    </div>
    
    
    <button type="submit">Submit</button>
</form>